<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />

        <title>Cropper.js Image Cropping Tool:</title>
        <!-- Local Stylesheet (can customize however...)-->
        <link rel="stylesheet" href="../static/style.css">

        <!-- cropper.min.js stylesheet drives the cropping functionality -->
        <link rel="stylesheet" href="../static/cropper.min.css" />

        <!-- Local cropper.min.js runs the actual cropping functionality -->
        <script src="../js/cropper.min.js"></script>

    </head>
    <body>
        <div class="wrap">
            <h2>Selection box only — return coordinates</h2>

            <!-- Currently this points to a static location... Unsure what to do here... -->
            <img id="image" src="../img/example.jpeg" alt="Static sample" />

            <div class="bar">
                <button id="getCoordsBtn">Get Coordinates</button>
                <span class="coords" id="liveCoords">x: –, y: –, x2: –, y2: –, w: –, h: –</span>
            </div>

            <div class="bar">
                <label for="coordsOut">JSON:</label>
                <input id="coordsOut" type="text" readonly />
                <button id="copyBtn">Copy</button>
            </div>
        </div>

        <script src="../js/cropper.custom.js"></script>

    </body>
</html>
